#...For Sending Requests...#
aiohttp
#...For Telegram Bot...#
pyrogram #use pyrofork if you want 
#...For For Manupulating Images...#
pillow
#...For Web Scrapping...#
beautifulsoup4>=4.12.3
#...For PDF Stuf...#
fpdf
